<div class="container">
    <div class="card border-light shadow-sm">
        <h6 class="card-title text-left pl-4 pt-2">GENERAR VENTA</h6>
        <div class="card-body">
            <form [formGroup]="registroForm">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="">Comprobante</label>
                        <select formControlName="comprobante" class="form-control form-control-sm">
                            <option *ngFor="let c of comprobantes" [ngValue]="c">{{c.descripcion}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Serie</label>
                        <input formControlName="serie" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Numero</label>
                        <input formControlName="numComprobante" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Fecha</label>
                        <input formControlName="fecha" type="date" class="form-control form-control-sm">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="">Numero</label>
                        <input type="number" class="form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Cliente</label>
                        <select formControlName="cliente" class="form-control form-control-sm">
                            <option *ngFor="let c of clientes" [ngValue]="c">{{c.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Direccion</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>

                <app-detalle-venta [numComprobante]="registroForm.value.numComprobante" [detallesH]="detallesP" 
                    (pasarDetallesH)="agregar($event)" (pasarMonto)="monto($event)"></app-detalle-venta>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="">Obs</label>
                        <textarea formControlName="observacion" type="text" class="form-control form-control-sm"></textarea>
                    </div>
                    <button class="btn btn-danger" (click)="guardarVenta()">Grabar</button>
                </div>
            </form>
        </div>
    </div>
</div>