<div class="container">
	<div class="card">
		<div class="card-header">
			<h4>Clientes</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" name="filtrarClientes" placeholder="Busqueda....."
						[(ngModel)]="filtrarClientes">
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Direccion</th>
						<th>Documento</th>
						<th>Nro. Doc</th>
						<th>Telefono</th>
						<th>Correo</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let cliente of clientes | filtro:filtrarClientes">
						<td>{{cliente.nombre}}</td>
						<td>{{cliente.direccion}}</td>
						<td>{{cliente.documento.codDocumento}}</td>
						<td>{{cliente.nroDocumento}}</td>
						<td>{{cliente.telefono}}</td>
						<td>{{cliente.correo}}</td>
						<td><button (click)="editarCliente(cliente)" class="btn btn-info btn-sm">Editar</button>
							<button (click)="eliminar(cliente)" class="btn btn-danger btn-sm">Eliminar</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>