<div class="container">
  <h3>Raised Buttons</h3>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>
  <br>
  <button (click)="listarCliente()" class="btn btn-primary">Listar</button>
  <button (click)="nuevoCliente()" class="btn btn-primary"> Nuevo</button>
  <button (click)="listarProducto()" class="btn btn-primary">ListaProducto</button>
  <button (click)="nuevoProducto()" class="btn btn-primary"> Nuevo</button>

  <router-outlet></router-outlet>

</div>

