<div class="container">
	<div class="card text-center border-light shadow-sm">
		<h5 class="car-title text-left pl-4 pt-2">LISTA DE VENTAS</h5>
		<div class="card-body">
			<div class="d-flex">
				<a routerLink="/agregarVenta" class="btn btn-success btn-sm col-2 col-md-1" title="Nueva venta"><i
						class="medium material-icons text-white">open_in_new</i> </a>
				<input class="form-control col-8 offset-2 offset-md-3" type="text" placeholder="Busqueda ..."
					[(ngModel)]="filtrarVentas" name="filtrarVentas">
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-sm table-bordered" id="tablaVenta">
					<thead>
						<tr class="shadow-sm">
							<th>CDP</th>
							<th>NUMERO</th>
							<th>FECHA</th>
							<th>HORA</th>
							<th>CLIENTE</th>
							<th>MONTO</th>
							<th colspan="2" class="text-center">Acciones</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let venta of ventas | filtroVenta:filtrarVentas" class="shadow-sm">
							<td>{{venta.comprobante.descripcion}}</td>
							<td>{{venta.numComprobante}}</td>
							<td>{{venta.fecha | date:'dd-MM-yyyy'}}</td>
							<td>{{venta.hora}}</td>
							<td>{{venta.cliente.nombre}}</td>
							<td>{{venta.monto}}</td>
							<td class="text-center"><a class="btn btn-primary btn-sm" (click)="mostrarDetalle(venta)"
									title="Mostrar detalle venta"><i class="far fa-eye text-white" aria-hidden="true"></i></a>
								<a class="btn btn-info btn-sm" (click)="editarVenta(venta)" title="Editar venta">
									<i class="far fa-edit text-white"></i></a>
								<a class="btn btn-warning btn-sm" title="Anular venta"><i class="fas fa-backspace text-white"></i> </a>
							</td>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>