<div class="form-row">
	<div class="form-group col-md-6">
		<label for="">Producto</label>
		<select [(ngModel)]="detalleP.producto" class="form-control form-control-sm" name="producto"
			[compareWith]="compararProductos">
			<option *ngFor="let p of productos" [ngValue]="p">{{p.descripcion}}</option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label for="">Precio</label>
		<input [(ngModel)]="detalleP.precio" type="text" class="form-control form-control-sm" name="precio">
	</div>
	<div class="form-group col-md-2">
		<label for="">Cantidad</label>
		<input [(ngModel)]="detalleP.cantidad" type="text" class="form-control form-control-sm" name="cantidad">
	</div>
	<div class="col-auto mt-4">
		<button class="btn btn-outline-success btn-block btn-sm mt-1" (click)="agregarDetalle()">Agregar</button>
	</div>
</div>

<div class="card text-center border-light shadow-sm">
	<h6 class="car-title text-left pl-4 pt-2">DETALLE DE VENTA</h6>
	<div class="card-body">

		<div class="table-responsive">
			<table class="table table-hover table-sm table-bordered">
				<thead>
					<tr class="shadow-sm">
						<th>ITEM</th>
						<th>CODIGO</th>
						<th>PRODUCTO</th>
						<th>PRECIO</th>
						<th>CANTIDAD</th>
						<th>SUBTOTAL</th>
						<th colspan="2" class="text-center">ACCIONES</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let detalle of detallesH;let indice=index" [attr.data-index]="indice" class="shadow-sm">
						<td>{{indice+1}}</td>
						<td>{{detalle.producto.codProducto}}</td>
						<td>{{detalle.producto.descripcion}}</td>
						<td>{{detalle.precio}}</td>
						<td>{{detalle.cantidad}}</td>
						<td>{{detalle.cantidad * detalle.precio}}</td>
						<td class="text-center"><a class="btn btn-info btn-sm"
								(click)="editarDetalle(detalle,indice)"
								title="Editar detalle">
								<i class="small material-icons text-white">edit</i></a>
							<a class="btn btn-danger btn-sm"
								(click)="eliminarDetalle(detalle,indice)"
								title="Eliminar detalle">
								<i class="small material-icons text-white">delete</i></a></td>
					</tr>
				</tbody>

			</table>
		</div>
		<div class="row justify-content-end font-weight-bold">
			<div class="col-2 text-right">
				{{subtotal}}
			</div>
			<div class="col-2 text-left">
				Subtotal
			</div>
		</div>
		<div class="row justify-content-end font-weight-bold">
			<div class="col-2 text-right">
				{{igv}}
			</div>
			<div class="col-2 text-left">
				IGV
			</div>
		</div>
		<div class="row justify-content-end font-weight-bold">
			<div class="col-2 text-right">
				{{total}}
			</div>
			<div class="col-2 text-left">
				Total
			</div>
		</div>
	</div>
</div>