<div class="container">
	<div class="card text-center border-light shadow-sm">
		<h6 class="car-title text-left pl-4 pt-2">LISTA DE PRODUCTOS</h6>
		<div class="card-body">
			<div class="d-flex">
				<a routerLink="/agregarProducto" class="btn btn-success btn-md col-2 col-md-1" title="Nuevo producto">
					<i class="far fa-plus-square fa-lg text-white"></i> </a>
				<input class="form-control col-8 offset-2 offset-md-3" type="text" placeholder="Busqueda ..."
					[(ngModel)]="filtrarProductos" name="filtrarProductos">
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-sm table-bordered" id="tablaProducto">
					<thead>
						<tr class="shadow-sm">
							<th>#</th>
							<th>Descripcion</th>
							<th>Precio</th>
							<th>Venta</th>
							<th>U.M</th>
							<th>Tipo</th>
							<th colspan="2" class="text-center">Acciones</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let producto of productos|filtroProducto:filtrarProductos | paginate: { itemsPerPage: pageSize, currentPage: page ,totalItems: numProductos};let indice=index"
							class="shadow-sm">
							<td>{{indice+1}}</td>
							<td class="text-left">{{producto.descripcion}}</td>
							<td>{{producto.precioCompra}}</td>
							<td>{{producto.precioVenta}}</td>
							<td>{{producto.medida.descripcion}}</td>
							<td>{{producto.tipo.descripcion}}</td>
							<td class="text-center"><a (click)="editarProducto(producto)" class="btn btn-info btn-sm"
									title="Editar producto">
									<i class="far fa-edit fa-sm text-white"></i></a>
								<a class="btn btn-danger btn-sm" (click)="eliminarProducto(producto)" title="Eliminar producto">
									<i class="far fa-trash-alt fa-sm text-white"></i></a></td>
					</tbody>
				</table>
				<pagination-controls (pageChange)="page = $event"></pagination-controls>
				<!-- 
				<app-paginacion  [page]="page" [totalPages]="totalPages"
					[size]="size" (paginaEmitter)="irPorPagina($event)"></app-paginacion> -->
			</div>
		</div>
	</div>
</div>