:root{
    --primary:#0b254b;
    --light:#ffffff;
    --light-blue:#F5F6FA;
    --grey:#5f5f5a;
  }
  
  .shadow-sm{
    box-shadow: 0 0 1.25rem rgba(11, 37, 75, .05);
  }
  
  .shadow-hover{
    transition: 1 ease-in-out;
  }
  
  .shadow-hover:hover{
    transition: 1 ease-in-out;
    box-shadow: 0 .5rem 1 rem rgba(11, 37, 75, .10);
  }
  
  .circle{
    width: 50px;
    height: 50px;
  }
  
  .bg-primary{
    background-color: rgba(0, 123, 255, .1) !important;
  }
  
  .avatar{
    max-width: 35px;
  }
  
  table tbody tr{
  background-color: #ffffff;
  }
  
  table thead th{
    border: 0 !important; 
  }
  
  table tbody td{
    border-top: 0 !important;
    line-height: 1.2;
  }
  
  table{
    border-collapse: separate;
    border-spacing: 0 .1rem;
  }
  .badge{
    padding: .5rem 1rem;
  }
  
  .badge-primary{
    background-color: rgba(0, 123, 255, .1) !important;
  }
  
  .badge-secondary{
    background-color: #5f5f5a;
  }
  
  .btn-primary{
  background-color: rgba(0, 123, 255, .1) !important;
  border: 0;
  }
  
  .bg-light-blue{
    background-color:#F5F6FA;
  }
  
  .bg-light{
    background-color: #ffffff !important;
  }
  
  #sidebar-container{
    min-height: 100vh;
    margin-left: -18rem;
    transition: margin ,25s ease-in-out;
  }
  
  #sidebar-container .logo{
    padding: .875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-container .menu{
    width: 18rem;
  }
  
  #content-wrapper.toggled #sidebar-container{
    margin-left: 0;
  }
  
  @media (min-width:768px){
  #sidebar-container{
    margin-left: 0;
  }
  #page-container{
    min-width: 0;
    width: 100%;
  }
  
  }
  
  
  